.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 25%;
  min-width: 220px;
  height: calc(100% - 30px);
  background: var(--secondary-color);
  border-radius: 15px;
  transition: transform 0.5s ease-out;

  &__header {
    display: flex;
    height: 10%;
    padding: 0 10px;
  }

  &__menu {
    display: flex;
    height: 100%;
    gap: 10px;
    font-family: 'Megrim', cursive;
    align-items: center;
    font-size: 1.25rem;
    flex: 1;
  }

  &__controls {
    display: flex;
    flex: 1;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
  }

  &__main {
    width: 100%;
    height: 100%;

  }

  &__add-page {
    padding: 14px;
  }

  &__list {
    padding: 2px 14px;
  }

  // minimize sidebar

  &--minimize {
    width: 50px;
    min-width: 50px;
    padding-top: 10px;
    align-items: center;
    gap: 10px;


    .sidebar__header, 
    .sidebar__menu, 
    .sidebar__controls  {
      display: contents;
    }

    .sidebar__main {
      display: none;
    }

    .sidebar__add-page {
      display: none;
    }
  }

  &--hidden {
    display: none;
  }

}

@media screen and (max-width: 480px) {

  .sidebar {
    height: 100vh;
    width: 75%;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    position: fixed;
    z-index: 5;
    font-size: 1.2rem;
    transition: transform 0.5s ease-out;
  }

  .sidebar--hidden {
    transform: translateX(-100vw);
  }

}