
@mixin button($size, $rounded:true) {
  height: $size;
  width: $size;
  background: transparent;
  border: 1px solid var(--button-border-color);
  color: #888;
  @if $rounded {
    border-radius: 50%;
  } @else {
    border-radius: 5px;
  }

  &:hover {
    background-color: var(--button-border-color);
  }
}

.button {
  @include button(30px, false);
}

.rounded {
  @include button(30px, true);
}

@media screen and (max-width: 480px) {
  .button {
    @include button(40px, false);
  }
  .rounded {
    @include button(40px, true);
  }
}